       
    <mat-card style="margin-top:11px;margin-left:10px;margin-right:10px;">
        
        <h2>Please select cards from below stacks</h2>
        
        <ngb-accordion #acc="ngbAccordion" >
            <ngb-panel title="Hearts">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <!-- <h3>Hearts</h3> -->
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H2','Two of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H2.png" alt="2 of hearts" class="card-img-top cards" id="H2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H3','Three of Hearts')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/H3.png" alt="3 of hearts" class="card-img-top cards" id="H3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H4','Four of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H4.png" alt="4 of hearts" class="card-img-top cards" id="H4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H5','Five of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H5.png" alt="5 of hearts" class="card-img-top cards" id="H5">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H6','Six of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H6.png" alt="6 of hearts" class="card-img-top cards" id="H6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H6','Seven of Hearts')">Add Card</button>                  
                                    <img src="assets/images/cardImagesPng/H7.png" alt="7 of hearts" class="card-img-top cards" id="H7">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H8','Eight of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H8.png" alt="8 of hearts" class="card-img-top cards" id="H8">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H9','Nine of Hearts')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/H9.png" alt="9 of hearts" class="card-img-top cards" id="H9">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('H10','Ten of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/H10.png" alt="10 of hearts" class="card-img-top cards" id="H10">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('HJ','Jack of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/HJ.png" alt="Jack of hearts" class="card-img-top cards" id="HJ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('HQ','Queen of Hearts')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/HQ.png" alt="Queen of hearts" class="card-img-top cards" id="HQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('HK','King of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/HK.png" alt="King of hearts" class="card-img-top cards" id="HK">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('HA','Ace of Hearts')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/HA.png" alt="Ace of hearts" class="card-img-top cards" id="HA">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>            
            <ngb-panel title="Spades">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <!-- <h3>Spades</h3> -->
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S2','Two of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S2.png" alt="2 of spades" class="card-img-top cards" id="S2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S3','Three of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S3.png" alt="3 of spades" class="card-img-top cards" id="S3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S4','Four of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S4.png" alt="4 of spades" class="card-img-top cards" id="S4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S5','Five of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S5.png" alt="5 of spades" class="card-img-top cards" id="S5">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S6','Six of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S6.png" alt="6 of spades" class="card-img-top cards" id="S6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S7','Seven of Spades')">Add Card</button>
                                    <img src="assets/images/cardImagesPng/S7.png" alt="7 of spades" class="card-img-top cards" id="S7">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S8','Eight of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S8.png" alt="8 of spades" class="card-img-top cards" id="S8">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S9','Nine of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/S9.png" alt="9 of spades" class="card-img-top cards" id="S9">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('S10','Ten of Spades')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/S10.png" alt="10 of spades" class="card-img-top cards" id="S10">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('SJ','Jack of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/SJ.png" alt="Jack of spades" class="card-img-top cards" id="SJ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('SQ','Queen of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/SQ.png" alt="Queen of spades" class="card-img-top cards" id="SQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('SK','King of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/SK.png" alt="King of spades" class="card-img-top cards" id="SK">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('SA','Ace of Spades')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/SA.png" alt="Ace of spades" class="card-img-top cards" id="SA">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Diamonds">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <!-- <h3>Diamonds</h3> -->
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D2','Two of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D2.png" alt="2 of diamonds" class="card-img-top cards" id="D2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D3','Three of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D3.png" alt="3 of diamonds" class="card-img-top cards" id="D3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D4','Four of Diamonds')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/D4.png" alt="4 of diamonds" class="card-img-top cards" id="D4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D5','Five of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D5.png" alt="5 of diamonds" class="card-img-top cards" id="D5">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D6','Six of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D6.png" alt="6 of diamonds" class="card-img-top cards" id="D6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D7','Seven of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D7.png" alt="7 of diamonds" class="card-img-top cards" id="D7">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D8','Eight of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D8.png" alt="8 of diamonds" class="card-img-top cards" id="D8">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('Nine','Ace of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D9.png" alt="9 of diamonds" class="card-img-top cards" id="D9">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('D10','Ten of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/D10.png" alt="10 of diamonds" class="card-img-top cards" id="D10">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('DJ','Jack of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/DJ.png" alt="Jack of diamonds" class="card-img-top cards" id="DJ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('DQ','Queen of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/DQ.png" alt="Queen of diamonds" class="card-img-top cards" id="DQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('DK','King of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/DK.png" alt="King of diamonds" class="card-img-top cards" id="DK">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('DA','Ace of Diamonds')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/DA.png" alt="Ace of diamonds" class="card-img-top cards" id="DA">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel title="Clubs">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <!-- <h3>Clubs</h3> -->
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C2','Two of Clubs')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/C2.png" alt="2 of clubs" class="card-img-top cards" id="C2">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C3','Three of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C3.png" alt="3 of clubs" class="card-img-top cards" id="C3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C4','Four of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C4.png" alt="4 of clubs" class="card-img-top cards" id="C4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C5','Five of Clubs')">Add Card</button>                 
                                    <img src="assets/images/cardImagesPng/C5.png" alt="5 of clubs" class="card-img-top cards" id="C5">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C6','Six of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C6.png" alt="6 of clubs" class="card-img-top cards" id="C6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C7','Seven of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C7.png" alt="7 of clubs" class="card-img-top cards" id="C7">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C8','Eight of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C8.png" alt="8 of clubs" class="card-img-top cards" id="C8">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C9','Nine of Clubs')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/C9.png" alt="9 of clubs" class="card-img-top cards" id="C9">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('C10','Ten of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/C10.png" alt="10 of clubs" class="card-img-top cards" id="C10">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('CJ','Jack of Clubs')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/CJ.png" alt="Jack of clubs" class="card-img-top cards" id="CJ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('CQ','Queen of Clubs')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/CQ.png" alt="Queen of clubs" class="card-img-top cards" id="CQ">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('CK','King of Clubs')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/CK.png" alt="King of clubs" class="card-img-top cards" id="CK">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('CA','Ace of Clubs')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/CA.png" alt="Ace of clubs" class="card-img-top cards" id="CA">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>            
            <ngb-panel title="Special Cards">
                <ng-template ngbPanelContent>
                    <div class="row">
                        <!-- <h3>Special Cards</h3> -->
                        <div class="col-lg-1">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('T2','2T')">Add Card</button>
                                    <img src="assets/images/cardImagesPng/T2.png" alt="Take 2 cards" class="card-img-top cards" id="T2">
                                </div>                
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('T4','4T')">Add Card</button>                       
                                    <img src="assets/images/cardImagesPng/T4.png" alt="Take 4 cards" class="card-img-top cards" id="T4">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('TS','ST')">Add Card</button>   
                                    <img src="assets/images/cardImagesPng/TS.png" alt="Swap your hands" class="card-img-top cards" id="TS">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('TP','PT')">Add Card</button>                    
                                    <img src="assets/images/cardImagesPng/TP.png" alt="Pause your turn" class="card-img-top cards" id="TP">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 mb-4">
                            <div class="card">
                                
                                <div class="card-body img-wrap">
                                    <button mat-raised-button class="show-on-hover"  onclick="addImageToList('TR','RT')">Add Card</button>                   
                                    <img src="assets/images/cardImagesPng/TR.png" alt="Reverse Turn" class="card-img-top cards" id="TR">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </mat-card>
    <mat-card style="margin-top:11px;margin-left:10px;margin-right:10px;">
        <mat-card-actions>
            <button mat-raised-button (click)="getSortedCards(inputCardString.value)" >Get Sorted Cards</button>
            <button mat-raised-button onclick="ClearSelection()" (click)="ResetProducts()">Clear Selection & Results</button>
        </mat-card-actions>    
    </mat-card>
    <mat-card style="margin-top:11px;margin-left:10px;margin-right:10px;">
        <mat-card-content>
            <h2>Selected Cards</h2>                     
            <input type="hidden" id="unSortedList" #inputCardString />   
            <div id="UserSelectedCards" class="row"> 
            </div>       
        </mat-card-content>
            
    </mat-card>
    
    <mat-card style="margin-top:11px;margin-left:10px;margin-right:10px;">  
        <mat-card-content>
            <h2>Sorted Cards</h2>                       
            <div id="SortedCards" class="row">               
                <div class="col-lg-1  mb-4" *ngFor='let product of products' id="SortedCardLoop">
                    <div class="card">                                
                        <div class="card-body">                                    
                            <img src="{{'assets/images/cardImagesPng/' + product + '.png'}}" class="card-img-top">
                        </div>                
                    </div>
                </div>                
            </div>
        </mat-card-content>
    </mat-card>